<div class="mensaje">
  <h1 class="title">Iniciar sesión</h1>
  <p class="messageP">
    Nos alegra tenerte de vuelta y estamos listos para atender tus necesidades.
    Inicia sesión y continúa aprovechando al máximo nuestra plataforma
  </p>
  <div class="MLists">
    <img src="../../../../assets/icons/serverBolt.svg" />
    <ul class="listM">
      <li class="listMTitle">Monitoreo Integral</li>
      <li class="listMDesc">
        Administra y monitoriza multiples plantas de forma remota
      </li>
    </ul>
  </div>

  <div class="MLists">
    <img src="../../../../assets/icons/star.svg" />
    <ul class="listM">
      <li class="listMTitle">Notificaciones en tiempo real</li>
      <li class="listMDesc">
        Recibi notificaciones en tiempo real sobre las mediciones
      </li>
    </ul>
  </div>
</div>
