<div class="flex-container">
  <mat-card class="flex-item">
    <mat-card-content class="card-container">
      <div class="card-content">
        <small>Lecturas ok</small>
        <h3>{{ okAlerts }}</h3>
      </div>
      <img src="../../../../assets/states/tilde.png" class="image-card" />
    </mat-card-content>
  </mat-card>
  <mat-card class="flex-item">
    <mat-card-content class="card-container">
      <div class="card-content">
        <small>Alertas medias</small>
        <h3>{{ mediumAlerts }}</h3>
      </div>
      <img src="../../../../assets/states/media.png" class="image-card" />
    </mat-card-content>
  </mat-card>
  <mat-card class="flex-item">
    <mat-card-content class="card-container">
      <div class="card-content">
        <small>Alertas rojas</small>
        <h3>{{ redAlerts }}</h3>
      </div>
      <img src="../../../../assets/states/roja.png" class="image-card" />
    </mat-card-content>
  </mat-card>
  <mat-card class="flex-item">
    <mat-card-content class="card-container">
      <div class="card-content">
        <small>Sensores deshabilitados</small>
        <h3>932</h3>
      </div>
      <img src="../../../../assets/states/cruz.png" class="image-card" />
    </mat-card-content>
  </mat-card>
</div>
