<h1>Portal de monitoreo</h1>
<h4>Iniciar sesión</h4>
<div>
  <form
    class="form"
    [formGroup]="logForm"
    (ngSubmit)="login()"
    autocomplete="off"
  >
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        placeholder="Ingresa tu correo electronico"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        type="password"
        matInput
        id="password"
        formControlName="password"
      />
      <mat-label for="password">Contraseña</mat-label>
    </mat-form-field>
    <div>
      <p>¿Olvidaste tu contraseña?</p>
      <button
        mat-flat-button
        [disabled]="logForm.invalid"
        type="submit"
        class="button-acept"
      >
        Iniciar sesión
      </button>
    </div>
  </form>

  <div>
    <p>
      Protegido por reCAPTCHA y sujeto a la
      <a href="">Política de Privacidad</a> y <a href="">Condiciones</a>.
    </p>
  </div>
</div>
