<div class="grid-container">
  <mat-card class="flex-item">
    <mat-card-content class="card-container flex-row">
      <div class="card-content">
        <h5>Temperatura</h5>
        <div class="severities-by-type flex-row">
          <div class="severity-by-type flex row">
            <img
              class="cardInCardImg"
              src="../../../../assets/states/tilde.png"
            />
            <small>5</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/media.png"
            />
            <small>5</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/roja.png"
            />

            <small>5</small>
          </div>
        </div>
      </div>
      <img src="../../../../assets/types/temp.svg" class="image-card" />
    </mat-card-content>
  </mat-card>
  <mat-card class="flex-item">
    <mat-card-content class="card-container flex-row">
      <div class="card-content">
        <h5>Presion</h5>
        <div class="severities-by-type flex-row">
          <div class="severity-by-type flex row">
            <img
              class="cardInCardImg"
              src="../../../../assets/states/tilde.png"
            />
            <small>5</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/media.png"
            />
            <small>5</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/roja.png"
            />

            <small>5</small>
          </div>
        </div>
      </div>
      <img src="../../../../assets/types/pressure.svg" class="image-card" />
    </mat-card-content>
  </mat-card>
  <mat-card class="flex-item">
    <mat-card-content class="card-container flex-row">
      <div class="card-content">
        <h5>Viento</h5>
        <div class="severities-by-type flex-row">
          <div class="severity-by-type flex row">
            <img
              class="cardInCardImg"
              src="../../../../assets/states/tilde.png"
            />
            <small>5</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/media.png"
            />
            <small>5</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/roja.png"
            />

            <small>5</small>
          </div>
        </div>
      </div>
      <img src="../../../../assets/types/wind.svg" class="image-card" />
    </mat-card-content>
  </mat-card>
  <mat-card class="flex-item">
    <mat-card-content class="card-container flex-row">
      <div class="card-content">
        <h5>Niveles</h5>
        <div class="severities-by-type flex-row">
          <div class="severity-by-type flex row">
            <img
              class="cardInCardImg"
              src="../../../../assets/states/tilde.png"
            />
            <small>5</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/media.png"
            />
            <small>5</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/roja.png"
            />

            <small>5</small>
          </div>
        </div>
      </div>
      <img src="../../../../assets/types/levels.svg" class="image-card" />
    </mat-card-content>
  </mat-card>
  <mat-card class="flex-item">
    <mat-card-content class="card-container flex-row">
      <div class="card-content">
        <h5>Energia</h5>
        <div class="severities-by-type flex-row">
          <div class="severity-by-type flex row">
            <img
              class="cardInCardImg"
              src="../../../../assets/states/tilde.png"
            />
            <small>5</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/media.png"
            />
            <small>5</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/roja.png"
            />

            <small>5</small>
          </div>
        </div>
      </div>
      <img src="../../../../assets/types/energy.svg" class="image-card" />
    </mat-card-content>
  </mat-card>
  <mat-card class="flex-item">
    <mat-card-content class="card-container flex-row">
      <div class="card-content">
        <h5>Tension</h5>
        <div class="severities-by-type flex-row">
          <div class="severity-by-type flex row">
            <img
              class="cardInCardImg"
              src="../../../../assets/states/tilde.png"
            />
            <small>5</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/media.png"
            />
            <small>5</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/roja.png"
            />

            <small>5</small>
          </div>
        </div>
      </div>
      <img src="../../../../assets/types/tension.svg" class="image-card" />
    </mat-card-content>
  </mat-card>
  <mat-card class="flex-item">
    <mat-card-content class="card-container flex-row">
      <div class="card-content">
        <h5>Monoxido de carbono</h5>
        <div class="severities-by-type flex-row">
          <div class="severity-by-type flex row">
            <img
              class="cardInCardImg"
              src="../../../../assets/states/tilde.png"
            />
            <small>5</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/media.png"
            />
            <small>5</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/roja.png"
            />

            <small>5</small>
          </div>
        </div>
      </div>
      <img src="../../../../assets/types/monoxC.svg" class="image-card" />
    </mat-card-content>
  </mat-card>
  <mat-card class="flex-item">
    <mat-card-content class="card-container flex-row">
      <div class="card-content">
        <h5>Otros gases</h5>
        <div class="severities-by-type flex-row">
          <div class="severity-by-type flex row">
            <img
              class="cardInCardImg"
              src="../../../../assets/states/tilde.png"
            />
            <small>5</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/media.png"
            />
            <small>5</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/roja.png"
            />

            <small>5</small>
          </div>
        </div>
      </div>
      <img src="../../../../assets/types/other.svg" class="image-card" />
    </mat-card-content>
  </mat-card>
</div>
