<div class="grid-container">
  <mat-card class="flex-item">
    <mat-card-content class="card-container flex-row">
      <div class="card-content">
        <h5>Temperatura</h5>
        <div class="severities-by-type flex-row">
          <div class="severity-by-type flex row">
            <img
              class="cardInCardImg"
              src="../../../../assets/states/tilde.png"
            />
            <small> {{ tempAlerts.ok }} </small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/media.png"
            />
            <small>{{ tempAlerts.media }}</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/roja.png"
            />

            <small>{{ tempAlerts.roja }}</small>
          </div>
        </div>
      </div>
      <img src="../../../../assets/types/temp.svg" class="image-card" />
    </mat-card-content>
  </mat-card>
  <mat-card class="flex-item">
    <mat-card-content class="card-container flex-row">
      <div class="card-content">
        <h5>Presion</h5>
        <div class="severities-by-type flex-row">
          <div class="severity-by-type flex row">
            <img
              class="cardInCardImg"
              src="../../../../assets/states/tilde.png"
            />
            <small> {{ pressureAlerts.ok }} </small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/media.png"
            />
            <small>{{ pressureAlerts.media }}</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/roja.png"
            />

            <small>{{ pressureAlerts.roja }}</small>
          </div>
        </div>
      </div>
      <img src="../../../../assets/types/pressure.svg" class="image-card" />
    </mat-card-content>
  </mat-card>
  <mat-card class="flex-item">
    <mat-card-content class="card-container flex-row">
      <div class="card-content">
        <h5>Viento</h5>
        <div class="severities-by-type flex-row">
          <div class="severity-by-type flex row">
            <img
              class="cardInCardImg"
              src="../../../../assets/states/tilde.png"
            />
            <small> {{ windAlerts.ok }} </small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/media.png"
            />
            <small>{{ windAlerts.media }}</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/roja.png"
            />

            <small>{{ windAlerts.roja }}</small>
          </div>
        </div>
      </div>
      <img src="../../../../assets/types/wind.svg" class="image-card" />
    </mat-card-content>
  </mat-card>
  <mat-card class="flex-item">
    <mat-card-content class="card-container flex-row">
      <div class="card-content">
        <h5>Niveles</h5>
        <div class="severities-by-type flex-row">
          <div class="severity-by-type flex row">
            <img
              class="cardInCardImg"
              src="../../../../assets/states/tilde.png"
            />
            <small> {{ levelsAlerts.ok }} </small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/media.png"
            />
            <small>{{ levelsAlerts.media }}</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/roja.png"
            />

            <small>{{ levelsAlerts.roja }}</small>
          </div>
        </div>
      </div>
      <img src="../../../../assets/types/levels.svg" class="image-card" />
    </mat-card-content>
  </mat-card>
  <mat-card class="flex-item">
    <mat-card-content class="card-container flex-row">
      <div class="card-content">
        <h5>Energia</h5>
        <div class="severities-by-type flex-row">
          <div class="severity-by-type flex row">
            <img
              class="cardInCardImg"
              src="../../../../assets/states/tilde.png"
            />
            <small> {{ energyAlerts.ok }} </small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/media.png"
            />
            <small>{{ energyAlerts.media }}</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/roja.png"
            />

            <small>{{ energyAlerts.roja }}</small>
          </div>
        </div>
      </div>
      <img src="../../../../assets/types/energy.svg" class="image-card" />
    </mat-card-content>
  </mat-card>
  <mat-card class="flex-item">
    <mat-card-content class="card-container flex-row">
      <div class="card-content">
        <h5>Tension</h5>
        <div class="severities-by-type flex-row">
          <div class="severity-by-type flex row">
            <img
              class="cardInCardImg"
              src="../../../../assets/states/tilde.png"
            />
            <small> {{ tensionAlerts.ok }} </small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/media.png"
            />
            <small>{{ tensionAlerts.media }}</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/roja.png"
            />

            <small>{{ tensionAlerts.roja }}</small>
          </div>
        </div>
      </div>
      <img src="../../../../assets/types/tension.svg" class="image-card" />
    </mat-card-content>
  </mat-card>
  <mat-card class="flex-item">
    <mat-card-content class="card-container flex-row">
      <div class="card-content">
        <h5>Monoxido</h5>
        <div class="severities-by-type flex-row">
          <div class="severity-by-type flex row">
            <img
              class="cardInCardImg"
              src="../../../../assets/states/tilde.png"
            />
            <small> {{ monoxAlerts.ok }} </small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/media.png"
            />
            <small>{{ monoxAlerts.media }}</small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/roja.png"
            />

            <small>{{ monoxAlerts.roja }}</small>
          </div>
        </div>
      </div>
      <img src="../../../../assets/types/monoxC.svg" class="image-card" />
    </mat-card-content>
  </mat-card>
  <mat-card class="flex-item">
    <mat-card-content class="card-container flex-row">
      <div class="card-content">
        <h5>Otros gases</h5>
        <div class="severities-by-type flex-row">
          <div class="severity-by-type flex row">
            <img
              class="cardInCardImg"
              src="../../../../assets/states/tilde.png"
            />
            <small> {{ otherAlerts.ok }} </small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/media.png"
            />
            <small> {{ otherAlerts.media }} </small>
          </div>
          <div>
            <img
              class="cardInCardImg"
              src="../../../../assets/states/roja.png"
            />

            <small> {{ otherAlerts.roja }} </small>
          </div>
        </div>
      </div>
      <img src="../../../../assets/types/other.svg" class="image-card" />
    </mat-card-content>
  </mat-card>
</div>
