.cardInCardImg {
  height: auto;
  width: 25px;
  height: 25px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: 100%;
}

.flex-item {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.severities-by-type {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
}

.container-img-severity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-container {
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
  overflow-x: auto;
}

.image-card {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

@media (max-width: 1080px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 780px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
