.example-spacer {
  flex: 1 1 auto;
}

.hide-on-large {
  display: none;
}

@media (max-width: 600px) {
  .hide-on-large {
    display: flex;
  }

  .icon-nav {
    display: none;
  }

  .text-nav {
    font-size: 1rem;
    white-space: pre-wrap;
  }
}

@media (max-width: 420px) {
  .text-nav {
    font-size: 0.8rem;
    white-space: pre-wrap;
  }
}
