<mat-toolbar>
    <button mat-icon-button class="example-icon hide-on-large" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Monitoreo Global</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>language</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>notifications_none</mat-icon>
    </button>
    <span style="font-size: 1rem;">Juan Rojas</span>
</mat-toolbar>

<app-drawer></app-drawer>
