.container {
  display: flex;
  background: linear-gradient(to bottom, #33a3aa, #138188);

  min-height: 100dvh;
}

.message {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login {
  background-color: white;
  width: 40%;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 600px) {
  .message {
    display: none;
  }
  .login {
    display: block;
    width: 100%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
  }
}
